#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 700px;
  border: 2px solid black;
  display: flex;
}

.pad-bank {
  display: grid;
  grid: auto auto auto / auto auto auto;
  justify-content: center;
  place-items: center;
  padding: 2em;
  gap: 2em 2em;
}

.control-container {
  border-left: 2px solid black;
  min-width: 300px;
}

.drum-pad {
  border: 2px solid black;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

#display {
  background-color: cornsilk;
  border-bottom: 2px solid black;
  min-height: 60px;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}

.inner {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.control {
  width: 100px;
  margin: auto;
}

.outer-select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}

.inner-select {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}



@media (max-width: 700px) {
  .main-container {
    flex-direction: column-reverse;
    
  }
}